.content-shop  {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 25px;

  @media (max-width: 928px) {
    grid-template-columns: 30% 70%;
  }

  .navigation {
    padding: 25px;

    .item-nav {
      padding: 10px 0;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      border-radius: 9999px;
      color: white;
      height: 40px;
      gap: 10px;
      cursor: pointer;

      &.active {
        background: $colorActive;

      }

      .item-icon {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #17161C;
        border-radius: 50%;
      }


    }
  }

  .content-itemShop {
    overflow-y: scroll;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(3,33%);

    @media screen and (max-width: 1530px) {
      grid-template-columns: repeat(3,33%);
      grid-template-rows: repeat(2,50%);
    }
    @media screen and (max-width: 948px) {
      grid-template-columns: repeat(2,50%);
      grid-template-rows: repeat(2,50%);
    }
  }

  ul {
    list-style: none;
  }
}