.content-shop  {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 25px;

  .navigation {
    padding: 25px;

    .item-nav {
      padding: 10px 0;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      border-radius: 9999px;
      color: white;
      height: 40px;
      gap: 10px;
      cursor: pointer;



      .item-icon {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #17161C;
        border-radius: 50%;
      }

      &.active {
        background: $colorActive;
      }
    }
  }

  .content-itemShop {
    overflow-y: scroll;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(3,33%);
  }

  ul {
    list-style: none;
  }
}